<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Integrador ICMS SPED"
    Language="1033"
    Version="2.0.0.0"
    Manufacturer="PEREIRA E SOUZA TECNOLOGIA LTDA"
    UpgradeCode="f8a3a3c2-8b2f-4b3c-8a3f-3a3b3c8a3f3a">

    <MajorUpgrade DowngradeErrorMessage="Uma versão mais recente do [ProductName] já está instalada." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Integrador ICMS SPED" Level="1">
      <ComponentGroupRef Id="PublishComponents" />
      <ComponentRef Id="AppShortcut" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Integrador ICMS SPED" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="Integrador ICMS SPED" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ProgramMenuDir">
      <Component Id="AppShortcut" Guid="*">
        <Shortcut
          Id="StartMenuShortcut"
          Name="Integrador ICMS SPED"
          Target="[INSTALLFOLDER]CsvIntegratorApp.exe"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ProgramMenuDirCleanup" Directory="ProgramMenuDir" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Integrador ICMS SPED" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
