<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Integrador ICMS SPED"
    Language="1033"
    Version="2.0.0.0"
    Manufacturer="PEREIRA E SOUZA TECNOLOGIA LTDA"
    UpgradeCode="f8a3a3c2-8b2f-4b3c-8a3f-3a3b3c8a3f3a">

    <MajorUpgrade DowngradeErrorMessage="Uma versão mais recente do [ProductName] já está instalada." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Integrador ICMS SPED" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <Directory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="Integrador ICMS SPED" />
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="CsvIntegratorAppExe" Guid="*">
        <File Source="$(var.CsvIntegratorApp.TargetPath)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
